.btn {
  background: #ff9800;
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;

  cursor: pointer;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: scale(0.95);
}
